In [48]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests

import os
import csv

# Import API key
import gmaps
from api_keys import g_key
gmaps.configure(api_key=g_key)

In [50]:
file="../Resources/weather_570_.csv"
data=pd.read_csv(file)
del data["Unnamed: 0"]
data.head()

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
0,Vaini,-21.2000,-175.2000,78.80,94,40,11.50,TO,1612698213
1,Ponta do Sol,32.6667,-17.1000,62.01,67,92,3.00,PT,1612698213
2,Rikitea,-23.1203,-134.9692,76.80,75,50,10.83,PF,1612698213
3,Narasapuram,16.4500,81.6667,77.14,61,75,10.65,IN,1612698214
4,Mahébourg,-20.4081,57.7000,87.80,62,40,16.11,MU,1612698214

In [51]:
data.describe()

,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Date
count,570.000000,570.000000,570.000000,570.000000,570.000000,570.000000,5.700000e+02
mean,20.362463,13.155389,51.796684,70.236842,52.566667,8.941123,1.612698e+09
std,32.626549,88.932552,32.226459,21.446587,38.290215,6.916502,7.467075e+01
min,-54.800000,-179.166700,-45.990000,1.000000,0.000000,0.130000,1.612698e+09
25%,-5.639250,-65.590025,30.317500,61.000000,14.250000,3.895000,1.612698e+09
50%,24.280050,16.906150,61.160000,75.500000,54.500000,6.965000,1.612698e+09
75%,46.912050,88.025150,77.257500,86.000000,90.000000,11.852500,1.612698e+09
max,78.218600,179.316700,103.390000,100.000000,100.000000,52.930000,1.612698e+09

In [52]:
len(data["City"].unique())

569

In [64]:
locations=data[["Lat", "Lng"]]
locations.head()

       Lat       Lng
0 -21.2000 -175.2000
1  32.6667  -17.1000
2 -23.1203 -134.9692
3  16.4500   81.6667
4 -20.4081   57.7000

In [65]:
hu=data["Humidity"].astype(float) 
hu.head()

0    94.0
1    67.0
2    75.0
3    61.0
4    62.0
Name: Humidity, dtype: float64

In [81]:
fig_all=gmaps.figure(map_type="TERRAIN")
humid_all=gmaps.heatmap_layer(locations, weights=hu, dissipating=False, max_intensity=200, point_radius=4)
fig_all.add_layer(humid_all)
fig_all

Figure(layout=FigureLayout(height='420px'))

In [53]:
usdata=data[data["Country"] == "US"]

In [60]:
locations_us=usdata[["Lat", "Lng"]]
locations_us.head()

        Lat       Lng
14  39.5630  -95.1216
16  57.0531 -135.3300
17  42.6001  -73.9662
28  41.3712  -73.4140
50  42.0970  -79.2353

In [61]:
hu_us=usdata["Humidity"].astype(float) 
hu_us.head()

14    84.0
16    64.0
17    58.0
28    74.0
50    62.0
Name: Humidity, dtype: float64

In [83]:
fig_us=gmaps.figure(map_type="TERRAIN")
humid_us=gmaps.heatmap_layer(locations_us, weights=hu_us, dissipating=False, max_intensity=200, point_radius=4)
fig_us.add_layer(humid_us)
fig_us

Figure(layout=FigureLayout(height='420px'))